<img id="logo" alt="RDH2.COM" src="/Content/Images/Logo.png" />
<a class="menu-link" href="@Url.Action("Index", "Home")">home</a>
<a class="menu-link" href="@Url.Action("Index", "Post")">posts</a>
<a class="menu-link" href="@Url.Action("Index", "Gallery")">galleries</a>
<a class="menu-link" href="@Url.Action("Index", "About")">about</a>
<a class="menu-link" href="@Url.Action("Index", "Contact")">contact</a>    
